# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/build-aux
/m4
/configure
/aclocal.m4
/*.cache
.deps
.libs
*.o
stamp-h1
config.status
config.log
Makefile
config.h
tableformat
